.btn {
  padding: 10px 16px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* primary */
.btn-primary {
  background-color: #0d6efd;
}
.btn-primary:hover {
  background-color: #0b5ed7;
}

/* danger */
.btn-danger {
  background-color: #dc3545;
}
.btn-danger:hover {
  background-color: #bb2d3b;
}

/* success */
.btn-success {
  background-color: #198754;
}
.btn-success:hover {
  background-color: #146c43;
}
